.container2 .content-wrapper {
    display: flex; /* Use flexbox to align items horizontally */
  }
  
  /* Styles for the quizzes column */
  .container2 .quizzes-column {
    flex: 2; /* Make the quizzes column take up 50% of the container2 width */
    margin-right: 1px; /* Add some space between the two columns */
  }
  
  /* Styles for the leaderboard column */
  .container2 .leaderboard-column {
    flex: 1; /* Make the leaderboard column take up 50% of the container2 width */
  }
  
  /* Style the leaderboard table */
  .container2 .leaderboard-table {
    width: 70%;
    border-collapse: collapse;
  }
  
  /* Style the table header */
  .container2 .leaderboard-table th {
    background-color: #313131;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  /* Style the table rows */
  .container2 .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }